{% extends 'base.html.twig' %}
{% block title %} {{ postObject.title }} {% endblock %}
    {% block body %}
        <span class="date">{{ postObject.publishedAt|date("m/d/y") }}</span>
        <h1>{{ postObject.title | upper }}</h1>
        <p>{{ postObject.content|raw }}</p>
    {% endblock %}